button.success {
  background: #577F4C;
  border-radius: 10px;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 0;
}

button.submit {
  border-radius: 50%;
  float: right;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  text-align: center;
  line-height: 0px;
  background-color: rgba(255, 255, 255, 0.6);
}

button.submit .icon {
  height: 100%;
  width: 10px;
}

button.submit:disabled {
  opacity: 0.5;
}

button.full {
  width: 90%;
}

