.login {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 30px 20px 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#577F4C+0,f24330+100 */
  background: #577F4C; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #577F4C 0%, #f24330 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #577F4C 0%,#f24330 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #577F4C 0%,#f24330 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#577F4C', endColorstr='#f24330',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.login input {
  color: #fff;
  width: 100%;
  border-bottom: 2px solid #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.login label {
  color: #fff;
}

.submit {
  float: right;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.submit img {
  vertical-align: center;
  height: 100%;
  width: 10px;
}

.title {
  font-size: 2rem;
  color: #fff;
}

.slogan {
  font-size: .8em;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 30px;
}