@import '../main.css'

.scoreboard {
  width: 100%;
}

.scoreboardRow {
  display: flex;
  padding: 10px 0px;
  margin: 0 10px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.scoreboardRow .rank,
.scoreboardRow .score {
  width: 15px;
  height: 15px;
  padding: 10px;
}

.scoreboardRow .rank {
  text-align: left;
}

.scoreboardRow .score {
  color: #f43820;
  font-weight: bold;
  text-align: right;
}

.scoreboardRow .name {
  margin: 0 10px;
  padding: 10px 0;
  flex: 1;
}

.scoreboardRow.first {
  font-weight: bold;
  font-size: 1.2em;
}
