.tabBar{
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.tabBar > div {
  text-decoration: none;
  text-align: center;
  flex: 1;
  padding: 5px 0 2px;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: .5em;
  cursor: pointer;
}

object {
  height: 25px;
  padding-bottom: 10px;
  width: 100%;
  display: block;
  pointer-events: none;
}

.active {
  background: cornflowerblue;
}