.tabBar{
  background: #222836;
  color: #fff;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.tabBar div {
  color: #FFC107;
  text-decoration: none;
  text-align: center;
  flex: 1;
  padding: 10px 0;
}
