.wrapper {
    padding: 20px;
}

h1.title {
    font-size: 1.2em;
    margin: auto 0px;
}

.close {
    float: right;
}

.close::before {
    height: 4px;
    margin-top: -2px;
}

.close::after {
    height: 4px;
    margin-top: -2px;
}

.subtitle {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
}

.subdiv {
    margin-top: 20px;
    width: 95%;
}


.text {
    font-size: 0.9em;
    color: #000000;
    line-height: 1.1rem;
    margin-bottom: 10px;
}

li {
    font-size: 0.9em;
    margin-bottom: 8px;
}

.bold {
    font-weight: 600;
    font-size: 0.9em;
    color: #000;
}